@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
  @apply w-full max-w-5xl mx-auto 
}
.bg-deepgreen{
  @apply bg-[#2D6F6D]
}
.text-deepgreen{
  @apply text-[#2D6F6D] 
}
.nav-item-hover:hover{
  @apply text-[#2D6F6D]  font-bold
}
.main-menu {
  @apply p-4  space-y-1
}

.menu-item {
  @apply flex items-center gap-2 hover:bg-[#2D6F6D] hover:text-white rounded-md py-2 px-3
}

.menu-item-active {
  @apply flex items-center gap-2 bg-[#2D6F6D] text-white rounded-md py-2 px-3
}
.btn-deepgreen{
  @apply border-none bg-[#2D6F6D]  text-white hover:bg-[#2D6F6D] hover:font-bold
}
.border-deepgreen{
  @apply border-[#2D6F6D] 
}
.btn-outline-deepgreen{
  @apply bg-none  bg-white border-[#2D6F6D] text-[#2D6F6D] hover:text-white hover:bg-[#2D6F6D] hover:border-[#2D6F6D] hover:font-bold
}



/* Animation */
@keyframes animate-bounceLR {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

.animate-bounceLR {
  animation: animate-bounceLR 3s infinite;
}